       <!--<div *ngIf="selectedBus">
      <h2>
      {{selectedBus.name | uppercase}} is my hero
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>-->
    <!--<div>
        <label>Bus name:</label><input #heroName />
        <button (click)="addBus(heroName.value); heroName.Value=''">
            Add
        </button>
    </div>-->
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <h1> Busses</h1>
    <ul class = "list-group">
        <li *ngFor="let bus of busses" class="list-group-item"
        [class.selected] ="bus===selectedBus"
        (click)="onSelect(bus)">
        
            <!--<span class="badge">{{bus.id}}</span>-->
            <span>{{bus.brand}}</span>
            <button  class="delete" (click)="goToDetails()"> View</button>
            <button *ngIf="this.canDelete" class="deleteBus" (click)="delete(this.selectedBus)" >Delete</button>
        </li>
    </ul>
    <button *ngIf="this.canDelete" type="button" class="btn btn-default navbar-btn" (click)="createNew()">Add</button>