       <!--<div *ngIf="selectedBus">
      <h2>
      {{selectedBus.name | uppercase}} is my hero
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>-->
    <!--<div>
        <label>Bus name:</label><input #heroName />
        <button (click)="addBus(heroName.value); heroName.Value=''">
            Add
        </button>
    </div>-->
    <h2>My Busses</h2>
    <ul class = "busses">
        <li *ngFor="let bus of busses"
        [class.selected] ="bus===selectedBus"
        (click)="onSelect(bus)">
        
            <span class="badge">{{bus.id}}</span>
            <span>{{bus.brand}}</span>
            <button class="delete" (click)="goToDetails()"> View</button>
        </li>
    </ul>