<!--<div *ngIf = "issues.length>0">
<h2>Issues</h2>
<ul class="issues">
    <li *ngFor="let issue of issues"
    [class.selected] = "issue===selectedIssue">
    <span class="badge">Issue</span>
    <span>{{issue.name}}</span>
    <span>{{issue.description}}</span>
    </li>
</ul>
</div>-->


     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<div *ngIf = "issues.length>0">-->
    <h1>Issues</h1>

    <div class="panel panel-default">
        <div *ngFor="let issue of issues"
                [class.NotResolved] ="!issue.solved"
        [class.resolved] = "issue.solved">
            <button *ngIf="this.canDelete" class="deleteBus" (click)="delete(issue)">Delete</button>
            <button *ngIf="this.canResolve" class="delete" (click)="resolve(issue)">Resolve</button>
            <h4 class="list-group-item-heading">{{issue.name}}</h4>
                <h5 class="list-group-item-text">{{issue.description}}</h5>
        </div>
    </div>
    <div *ngIf = "this.isOnDetails">
        <label>Issue name:</label><input #name/>
        <label>Description:</label><input #description>
        <button class="delete" (click)="add(name.value, description.value)">Add</button>
    </div>
    <!--</div>-->