<!--<div *ngIf = "issues.length>0">
<h2>Issues</h2>
<ul class="issues">
    <li *ngFor="let issue of issues"
    [class.selected] = "issue===selectedIssue">
    <span class="badge">Issue</span>
    <span>{{issue.name}}</span>
    <span>{{issue.description}}</span>
    </li>
</ul>
</div>-->


     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<div *ngIf = "issues.length>0">-->
    <h1>Issues</h1>
    <ul class = "list-group">
        <li *ngFor="let issue of issues" class="list-group-item" id="name"
        [class.selected] ="issue===selectedIssue"
        [class.NotResolved] ="!issue.solved"
        [class.resolved] = "issue.solved"
        (click)="onSelect()">
            <div>
                <h5 class="mb-1">{{issue.name}}
                <!--<a data-toggle="collapse" data-parent="name" href="#issues#target">{{issue.name}}</a>-->
                     <small>
            <button class="deleteBus" (click)="delete(issue)">Delete</button>
            <button class="delete" (click)="resolve(issue)">Resolve</button>
            </small>
            </h5>
                </div>
                <div>
                    <!--<span>{{issue.description}}</span> -->
                 <span >    {{issue.description}}</span>
                </div>
                  
            <!--<button class="delete" (click)="goToDetails()"> View</button>-->
            <!--<small>
            <button class="deleteBus" (click)="delete(issue)">Delete</button>
            <button class="delete" (click)="resolve(issue)">Resolve</button>
            </small>-->
        </li>
    </ul>
    <div *ngIf = "this.isOnDetails">
        <label>Issue name:</label><input #name/>
        <label>Description:</label><input #description>
        <button class="delete" (click)="add(name.value, description.value)">Add</button>
    </div>
    <!--</div>-->