<div *ngIf = "profile">
  <!--<h2>{{bus.name}} details</h2>-->
    <div><label> id: </label>{{profile.id}}</div>
     <div><label> Email: </label>{{profile.brand}}</div>
      <div><label> Name: </label>{{profile.spaces}}</div>
      <div><label> Nickaname: </label>{{profile.registration_number}}</div>
      <div><label> Role: </label>{{profile.spaces}}</div>
    <div>
        <!--<label>name :</label>-->
    </div>
    <!--<div>
        <issues 
        [BusID]="bus.id">
        </issues>
    </div>-->
    <button (click)="goBack()"> Back</button>
    </div>